<div class="container">
  <div><h1>Team Generator</h1></div>
  <div>
    <ul class="list"><li *ngFor="let member of members">{{member}}</li></ul>
    <div class="add-members-container">
      <input #addId type="text" placeholder="Name" (input)="addInput(addId.value)" [value]="newMemberName"/>
      <button (click)="addMember()">Add</button>
    </div>
    <div class="input-container">
      <input #teamId type="text" placeholder="# of teams" (input)="teamInput(teamId.value)" [value]="numOfTeams"/>
      <button (click)="generateTeams()">Generate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
  </div>
  <div *ngIf="teams.length" class="teams-container">
    <div *ngFor="let team of teams; let i = index" class="team-container">
      <h3>Team {{i + 1}}</h3>
      <ul>
        <li *ngFor="let member of team">{{member}}</li>
      </ul>
    </div>
  </div>
</div>